> Real dictionary : word and meaning  
> Python Dictionary : key and value pair

## âœ… **Dictionary (dict) in Python**

### ðŸ”¹ What is a Dictionary?

* A **Dictionary** is a built-in data structure used to store **key-value pairs**.
* Each **key** is unique and maps to a **value**.
* Values can be of **any data type**, including other dictionaries, lists, tuples, sets, etc.
* Dictionaries are:

  * **Ordered** (from Python 3.7+) â†’ keys maintain insertion order
  * **Mutable** â†’ keys and values can be added, changed, or removed
  * Keys must be **immutable** types (like strings, numbers, or tuples)
  * Values can be **any type**

### ðŸ”¹ Examples:

```python
d = {
    'name': 'Shreya',
    'age': 21,
    'skills': ['Python', 'Data Science'],
    'is_student': True
}
```

---

### ðŸ”¹ Key Features

* Access values by keys: `d['name']` â†’ `'Shreya'`
* Add or update items: `d['location'] = 'India'`
* Remove items: `d.pop('age')`
* Keys are unique; if you assign the same key again, it updates the value.

---

### ðŸ”¹ **Dictionary Functions (Key-Value Store, Mutable)**

| Function/Method        | Description                   | Example                      | Notes                       |
| ---------------------- | ----------------------------- | ---------------------------- | --------------------------- |
| `dict[key]`            | Get value by key              | `d['name']`                  | Error if key not found      |
| `dict.get(key)`        | Safe key access               | `d.get('age')`               | Returns None if key missing |
| `dict.keys()`          | Returns all keys              | `d.keys()`                   | Use `list()` to convert     |
| `dict.values()`        | Returns all values            | `d.values()`                 | Use `list()` to convert     |
| `dict.items()`         | Returns key-value pairs       | `d.items()`                  | In (key, value) format      |
| `dict.update(d2)`      | Add/replace with another dict | `d.update({'age': 22})`      | Merges dictionaries         |
| `dict.pop(key)`        | Remove key and return value   | `d.pop('age')`               | Key must exist              |
| `dict.popitem()`       | Removes last inserted item    | `d.popitem()`                | Python 3.7+ maintains order |
| `dict.clear()`         | Removes all items             | `d.clear()`                  | Becomes empty dictionary    |
| `dict.copy()`          | Returns shallow copy          | `new = d.copy()`             | Useful for backup           |
| `dict.setdefault(k,v)` | Gets value or sets default    | `d.setdefault('x', 10)`      | Adds only if key missing    |
| `key in dict`          | Checks if key exists          | `'name' in d`                | Returns boolean             |
| Dict comprehension     | Build dict from expression    | `{x: x*x for x in range(5)}` | Short & powerful            |


### âœ… **Is `dict` ordered or unordered?**

* âœ… **In Python 3.7 and above** (including Python 3.8, 3.9, 3.10...):

  > **Dictionaries are ordered by default**.

That means:

* The **order in which you insert key-value pairs is preserved**.
* If you do:

  ```python
  d = {'a': 1, 'b': 2, 'c': 3}
  print(d)
  ```

  Output will be:

  ```python
  {'a': 1, 'b': 2, 'c': 3}
  ```

### ðŸ” But earlier...

* âŒ **Before Python 3.7**:

  > Dictionaries were **unordered**, and insertion order was not guaranteed.

In [1]:
d = {}

In [2]:
type(d)

dict

In [3]:
y = {2,3,4}

In [4]:
type(y)

set

In [5]:
d1 = {"key":"sudh"}

In [6]:
d1

{'key': 'sudh'}

In [7]:
d2 = {"name":"shreya","email":"ss@gmail.com","number":334534}

In [8]:
d2

{'name': 'shreya', 'email': 'ss@gmail.com', 'number': 334534}

In [9]:
d3 = {234:"sudh"}

In [10]:
d3

{234: 'sudh'}

In [11]:
d3 = {234:"sudh", @:"kumar"}

SyntaxError: invalid syntax (639560357.py, line 1)

In [ ]:
d3 = {234:"sudh", _wer:"kumar"}         # special case symbol is not allowed

NameError: name '_wer' is not defined

In [ ]:
d3 = {234:"sudh", "_wer" :"kumar" , True:23434}

In [ ]:
d3

{234: 'sudh', '_wer': 'kumar', True: 23434}

In [ ]:
d3[234]

'sudh'

In [ ]:
d3[True]

23434

In [ ]:
d3[1]        # True = 1

23434

In [ ]:
d3[0]

KeyError: 0

In [ ]:
d4 = {'name':'sudh','mail_id':"ss@gmail.com","name":"Sudhanshu"}

In [ ]:
d4["name"]           # in case of dictionary key should be unique if not overwritten is performed with updated value

'Sudhanshu'

In [ ]:
d5 = {"company":"pwskills", "courses":["web dev", "Data Science", "java with dsa system design"]}

In [ ]:
d5['courses']

['web dev', 'Data Science', 'java with dsa system design']

In [ ]:
d5['courses'][1]

'Data Science'

In [ ]:
d6 = {"number":[2,34,3,34,34], "assignment":(1,2,3,4,5,6), "launch_date":{28,12,14}, "class_time":{"web_dev":8, "Data Science Master":8, "Java with DSA and system design":7}}

In [ ]:
d6

{'number': [2, 34, 3, 34, 34],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'Data Science Master': 8,
  'Java with DSA and system design': 7}}

In [ ]:
d6["class_time"]["Java with DSA and system design"]

7

In [ ]:
d6

{'number': [2, 34, 3, 34, 34],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'Data Science Master': 8,
  'Java with DSA and system design': 7}}

In [ ]:
d6['mentor'] = ["sudhanshu", "krish","anurag","hyder"]

In [ ]:
d6

{'number': [2, 34, 3, 34, 34],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'Data Science Master': 8,
  'Java with DSA and system design': 7},
 'mentor': ['sudhanshu', 'krish', 'anurag', 'hyder']}

In [ ]:
del d6['number']

In [ ]:
d6

{'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'Data Science Master': 8,
  'Java with DSA and system design': 7},
 'mentor': ['sudhanshu', 'krish', 'anurag', 'hyder']}

In [ ]:
d6.keys()

dict_keys(['assignment', 'launch_date', 'class_time', 'mentor'])

In [ ]:
list(d6.keys())

['assignment', 'launch_date', 'class_time', 'mentor']

In [ ]:
list(d6.values())

[(1, 2, 3, 4, 5, 6),
 {12, 14, 28},
 {'web_dev': 8,
  'Data Science Master': 8,
  'Java with DSA and system design': 7},
 ['sudhanshu', 'krish', 'anurag', 'hyder']]

In [ ]:
list(d6.items())

[('assignment', (1, 2, 3, 4, 5, 6)),
 ('launch_date', {12, 14, 28}),
 ('class_time',
  {'web_dev': 8,
   'Data Science Master': 8,
   'Java with DSA and system design': 7}),
 ('mentor', ['sudhanshu', 'krish', 'anurag', 'hyder'])]

In [ ]:
d6.pop('assignment')

(1, 2, 3, 4, 5, 6)

In [ ]:
d6

{'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'Data Science Master': 8,
  'Java with DSA and system design': 7},
 'mentor': ['sudhanshu', 'krish', 'anurag', 'hyder']}

In [ ]:
d6.pop()

TypeError: pop expected at least 1 argument, got 0

# Statement

**Indentation** : In other language we uses curly braces but in Python we uses indentation to show continuity of a program

In [ ]:
if marks >= 80:
    print("You will be a part of A0 batch")
elif marks >= 60 and marks < 80:
    print("You will be part of A1 batch")
elif marks >= 40 and marks < 60:
    print("You will be part of A2 batch")
else :
    print("You will be part of A3 batch")

NameError: name 'marks' is not defined

In [ ]:
marks = 90
if marks >= 80:
    print("You will be a part of A0 batch")
elif marks >= 60 and marks < 80:
    print("You will be part of A1 batch")
elif marks >= 40 and marks < 60:
    print("You will be part of A2 batch")
else :
    print("You will be part of A3 batch")

You will be a part of A0 batch

In [ ]:
marks = 65
if marks >= 80:
    print("You will be a part of A0 batch")
elif marks >= 60 and marks < 80:
    print("You will be part of A1 batch")
elif marks >= 40 and marks < 60:
    print("You will be part of A2 batch")
else :
    print("You will be part of A3 batch")

You will be part of A1 batch

In [ ]:
marks = (input())
if marks >= 80:
    print("You will be a part of A0 batch")
elif marks >= 60 and marks < 80:
    print("You will be part of A1 batch")
elif marks >= 40 and marks < 60:
    print("You will be part of A2 batch")
else :
    print("You will be part of A3 batch")

20

TypeError: '>=' not supported between instances of 'str' and 'int'

- valid between values of the same data type or between compatible data types.
- convert the string "10" to an integer using int(), allowing us to perform a valid comparison with the integer value.

In [ ]:
marks = input("Enter your marks ")
if marks >= 80:
    print("You will be a part of A0 batch")
elif marks >= 60 and marks < 80:
    print("You will be part of A1 batch")
elif marks >= 40 and marks < 60:
    print("You will be part of A2 batch")
else :
    print("You will be part of A3 batch")

Enter your marks 80

TypeError: '>=' not supported between instances of 'str' and 'int'

In [ ]:
type(marks)

str

In [ ]:
marks = input("Enter your marks ")

Enter your marks 45

In [ ]:
type(marks)

str

In [ ]:
marks = int(input("Enter your marks "))

Enter your marks 50

In [ ]:
type(marks)

int

In [ ]:
marks = float(input("Enter your marks "))

Enter your marks 60

In [ ]:
type(marks)

float

In [ ]:
marks = int(input("Enter your marks "))
if marks >= 80:
    print("You will be a part of A0 batch")
elif marks >= 60 and marks < 80:
    print("You will be part of A1 batch")
elif marks >= 40 and marks < 60:
    print("You will be part of A2 batch")
else :
    print("You will be part of A3 batch")

Enter your marks 70
You will be part of A1 batch

In [ ]:
price = int(input("Enter Price"))
if price > 1000:
    print("I will not buy")
else:
    print("I will buy")

Enter Price2000
I will not buy

In [ ]:
price = int(input("Enter Price"))
if price > 1000:
    print("I will not buy")

Enter Price200

In [ ]:
price = int(input("Enter Price "))
if price > 1000:
    print("I will not buy")
    if price > 5000:                                         # nested if else
        print("Price is too much")
    elif price < 2000:                                         # nested if else
        print("It's Okay")
elif price < 1000:
    print("I will buy")
else:
    print("Not interestes")

Enter Price 100
I will buy

## LOOP

In [ ]:
l = [1,2,3,4,5,6,7,8]      # add =1 in each elements

In [ ]:
for i in l:
    print(i)

1
2
3
4
5
6
7
8

In [ ]:
for i in l:
    print(l)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
for i in l:
    print(i+1)

2
3
4
5
6
7
8
9

In [ ]:
l1 = []
for i in l:
    print(i+1)
    l1.append(i+1)
l1

2
3
4
5
6
7
8
9

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l

['sudh', 'kumar', 'Pwskills', 'courses']

In [ ]:
l = ["sudh", "kumar", "Pwskills", "courses"]

In [ ]:
l1 = []
for i in l:
    print(i)
    l1.append(i.upper())

sudh
kumar
Pwskills
courses

In [ ]:
l1

['SUDH', 'KUMAR', 'PWSKILLS', 'COURSES']

In [ ]:
l = [1,2,3,4,4,"sudh", "kumar", 324, 34.456,"abc"]

In [ ]:
l1_num = []
l2_str = []
for i in l:
    if type(i) == int or type(i) == float :
        l1_num.append(i)
    else:
        l2_str.append(i)

In [ ]:
l1_num

[1, 2, 3, 4, 4, 324, 34.456]

In [ ]:
l2_str

['sudh', 'kumar', 'abc']

In [ ]:
l1_num = []  # Create an empty list to store numerical values
l2_str = []  # Create an empty list to store non-numerical values

for i in l:  # Iterate through each element 'i' in the list 'l'
    if type(i) == int or type(i) == float:  # Check if the type of 'i' is int or float
        l1_num.append(i)  # If 'i' is a number, add it to the numerical list 'l1_num'
    else:
        l2_str.append(i)  # If 'i' is not a number, add it to the non-numerical list 'l2_str'