# Assignment 1
## Week - 1

## 1. Create one variable containing following type of data:
- (i) string
- (ii) list
- (iii) float
- (iv) tuple
### Ans:

In [9]:
# Creating a variable containing a string, list, float, and tuple
mixed_data = ("Hello, Shreya", [1, 2, 3], 3.14, (4, 5, 6))

# Accessing the elements
print(mixed_data)

print(mixed_data[0])  # String
print(mixed_data[1])  # List
print(mixed_data[2])  # Float
print(mixed_data[3])  # Tuple

('Hello, Shreya', [1, 2, 3], 3.14, (4, 5, 6))
Hello, Shreya
[1, 2, 3]
3.14
(4, 5, 6)

###### (i) string

## 2. Given are some following variables containing data:
- (i) var1 = ‘ ‘
- (ii) var2 = ‘[ DS , ML , Python]’
- (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
- (iv) var4 = 1.
- What will be the data type of the above given variable.
### Ans:

In [12]:
var1 = ' '                      # A string containing a space
var2 = '[ DS , ML , Python]'    # A string representing a list
var3 = ['DS', 'ML', 'Python']    # A list containing strings
var4 = 1.                        # A float

print(type(var1)) 
print(type(var2)) 
print(type(var3)) 
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

## 3. Explain the use of the following operators using an example:
- (i) /
- (ii) %
- (iii) //
- (iv) **

#### Ans:
- `/` : performs division. Returns the quotient as a float.
- `%` : Returns the remainder of the division.
- `//` : Returns the largest integer less than or equal to the quotient (floor division).
- `**` : Raises a number to the power of another number.

###### (i) /

In [13]:
# Variables
a = 10
b = 3

# (i) Division Operator (/)
division_result = a / b
print(f"Division: {a} / {b} = {division_result}")  # Output: 3.3333333333333335

# (ii) Modulus Operator (%)
modulus_result = a % b
print(f"Modulus: {a} % {b} = {modulus_result}")    # Output: 1

# (iii) Floor Division Operator (//)
floor_division_result = a // b
print(f"Floor Division: {a} // {b} = {floor_division_result}")  # Output: 3

# (iv) Exponentiation Operator (**)
exponentiation_result = 2 ** 3  # Example using different variables
print(f"Exponentiation: 2 ** 3 = {exponentiation_result}")  # Output: 8

Division: 10 / 3 = 3.3333333333333335
Modulus: 10 % 3 = 1
Floor Division: 10 // 3 = 3
Exponentiation: 2 ** 3 = 8

## 4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [6]:
data_list = [42, 3.14, "Hello, World!", True, None, [1, 2, 3], (4, 5), {'key': 'value'}, complex(1, 2), bytearray(b'hello')]
for element in data_list:
    print(f"Element: {element}, Data Type: {type(element)}")

Element: 42, Data Type: <class 'int'>
Element: 3.14, Data Type: <class 'float'>
Element: Hello, World!, Data Type: <class 'str'>
Element: True, Data Type: <class 'bool'>
Element: None, Data Type: <class 'NoneType'>
Element: [1, 2, 3], Data Type: <class 'list'>
Element: (4, 5), Data Type: <class 'tuple'>
Element: {'key': 'value'}, Data Type: <class 'dict'>
Element: (1+2j), Data Type: <class 'complex'>
Element: bytearray(b'hello'), Data Type: <class 'bytearray'>

## 5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [41]:
A = int(input())
B = int(input())
print("Entered number A:",A)
print("Entered number B:",B)
while A%B==0:
    print("Yes, 'A' is divisible by 'B'", A//B, "times")
    break
else:
    print("No, 'A' is not divisible by 'B'")

27
3
Entered number A: 27
Entered number B: 3
Yes, 'A' is divisible by 'B' 9 times

## 6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [42]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if i%3==0:
        print(i,"is divisible by3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by3
25 is not divisible by 3

In [43]:
l = []
for i in range(25):
    l.append(i)
for i in l:
    if i % 3 == 0:
        print(i, "is divisible by 3.")
    else:
        print(i, "is not divisible by 3.")

0 is divisible by 3.
1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.

## 7. What do you understand about mutable and immutable data types? Give examples for both showing this property.
### Ans:

#### Mutable Objects:
Mutable objects are objects whose state can be modified after creation. When we modify a mutable object, we are actually changing its contents in memory. 
###### Common examples of mutable objects in Python include:

1. Lists
2. Dictionaries
3. Sets
4. User-defined classes (if designed to be mutable
- **Note**: When we modify these objects (e.g., add or remove elements in a list), the original object's content is changed, and any references to that object will reflect the changes.
#### Immutable Objects:
Objects whose state cannot be modified after creation. Any operation that appears to "modify" an immutable object actually creates a new object with the modified state. 
###### Common examples of immutable objects in Python include:

1. Integers
2. Floats
3. Strings
4. Tuples
5. Booleans (True and False are immutable)
- **Note**: If we try to modify an immutable object, a new object is created, and the original object remains unchanged.

###### Example Mutable

In [44]:
u = ['shreya', 2,3,4,5, (2j+11), 24.11, False ]

In [45]:
type(u)

list

In [46]:
u[0]=2

In [47]:
u

[2, 2, 3, 4, 5, (11+2j), 24.11, False]

In [48]:
u[0]=8

In [49]:
u

[8, 2, 3, 4, 5, (11+2j), 24.11, False]

In [50]:
u[0]='Cool'

In [51]:
u

['Cool', 2, 3, 4, 5, (11+2j), 24.11, False]

In [52]:
u[3]=50

In [53]:
u

['Cool', 2, 3, 50, 5, (11+2j), 24.11, False]

In [54]:
u[5]='Learner'

In [55]:
u

['Cool', 2, 3, 50, 5, 'Learner', 24.11, False]

In [56]:
u[-1]='25'

In [57]:
u

['Cool', 2, 3, 50, 5, 'Learner', 24.11, '25']

###### Example Immutable

In [58]:
text = "Hello"
new_text = text + ", World"  # Creates a new string, "Hello, World"

In [59]:
new_text

'Hello, World'

In [60]:
text

'Hello'

In [61]:
x = 5
y = x  # y now holds the value 5
x = 10  # x now holds the value 10, but y remains 5

In [62]:
x

10

In [63]:
y

5