In [49]:
import pandas as pd

In [50]:
df= pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [51]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [52]:
s = df['Name'][0:10]

In [53]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [54]:
len(s)

10

In [55]:
type(s)

pandas.core.series.Series

In [56]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [57]:
l = ['sudh','b','c','d','e','f','g','h','i','j']

In [58]:
pd.Series(s,index=l)

sudh    NaN
b       NaN
c       NaN
d       NaN
e       NaN
f       NaN
g       NaN
h       NaN
i       NaN
j       NaN
Name: Name, dtype: object

In [59]:
s1 =pd.Series(list(s),index=l)

In [60]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [61]:
s1

sudh                              Braund, Mr. Owen Harris
b       Cumings, Mrs. John Bradley (Florence Briggs Th...
c                                  Heikkinen, Miss. Laina
d            Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                                Allen, Mr. William Henry
f                                        Moran, Mr. James
g                                 McCarthy, Mr. Timothy J
h                          Palsson, Master. Gosta Leonard
i       Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                     Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [62]:
s[0]

'Braund, Mr. Owen Harris'

In [80]:
s1[0]

C:\Users\singh\AppData\Local\Temp\ipykernel_10816\643609873.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s1[0]

'Braund, Mr. Owen Harris'

In [64]:
s1["sudh"]

'Braund, Mr. Owen Harris'

In [65]:
s2 = s1.append(s)

AttributeError: 'Series' object has no attribute 'append'

- This will raise the AttributeError in Pandas 2.0+

The error indicates that the `append` method is no longer available for a Pandas `Series` object. Starting with **Pandas 2.0**, the `append` method for `Series` and `DataFrame` objects was deprecated and subsequently removed. Instead, you can use the `concat` function to achieve the same result.

### Reason for the Error:
- In **Pandas 1.5.0 and later**, the `append()` method was **removed** for `Series` and `DataFrame` objects.
- Instead of `append()`, you should now use the `pd.concat()` function.

### Summary:

- **Old method (deprecated):** `s1.append(s)`  
- **New recommended method:** `pd.concat([s1, s])`

In [84]:
s2 = pd.concat([s1, s])

In [86]:
s2

sudh                              Braund, Mr. Owen Harris
b       Cumings, Mrs. John Bradley (Florence Briggs Th...
c                                  Heikkinen, Miss. Laina
d            Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                                Allen, Mr. William Henry
f                                        Moran, Mr. James
g                                 McCarthy, Mr. Timothy J
h                          Palsson, Master. Gosta Leonard
i       Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                     Nasser, Mrs. Nicholas (Adele Achem)
0                                 Braund, Mr. Owen Harris
1       Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                  Heikkinen, Miss. Laina
3            Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                                Allen, Mr. William Henry
5                                        Moran, Mr. James
6                                 McCarthy, Mr. Timothy J
7                          Palsson, Master. Gosta Leonard
8       Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                     Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [87]:
s2[0]

'Braund, Mr. Owen Harris'

In [88]:
s2[4]

'Allen, Mr. William Henry'

In [89]:
s4 = pd.Series([3,4,5,6,6] , index=[2,4,5,6,1])

In [90]:
s5 = pd.Series([34,345,45,45,454] , index=[9,4,5,6,7])

In [91]:
s6 = s4.append(s5)

AttributeError: 'Series' object has no attribute 'append'

In [92]:
s6 = pd.concat([s5, s4])

In [93]:
s6

9     34
4    345
5     45
6     45
7    454
2      3
4      4
5      5
6      6
1      6
dtype: int64

In [94]:
s6[4]

4    345
4      4
dtype: int64

In [95]:
s6[0:5]

9     34
4    345
5     45
6     45
7    454
dtype: int64

In [96]:
s4

2    3
4    4
5    5
6    6
1    6
dtype: int64

In [77]:
s5

9     34
4    345
5     45
6     45
7    454
dtype: int64

In [78]:
s4*s5

1       NaN
2       NaN
4    1380.0
5     225.0
6     270.0
7       NaN
9       NaN
dtype: float64

In [79]:
s4+s5

1      NaN
2      NaN
4    349.0
5     50.0
6     51.0
7      NaN
9      NaN
dtype: float64